<a href="https://colab.research.google.com/gist/lehongminh1502/749638a7fa939eab2dc11e6c47e17c2c/bt1-ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url,sep=',')
data1=data[(data['Year']<2010)&(data['Year']>2001)&(data['NOC']=='GER')]
data1.groupby(['Sport','Medal']).count()

                  Year  City  Discipline  NOC  Event  Event gender
Sport     Medal
Biathlon  Bronze     3     3           3    3      3             3
          Gold       8     8           8    8      8             8
          Silver     9     9           9    9      9             9
Bobsleigh Bronze     1     1           1    1      1             1
          Gold       5     5           5    5      5             5
          Silver     1     1           1    1      1             1
Luge      Bronze     2     2           2    2      2             2
          Gold       3     3           3    3      3             3
          Silver     4     4           4    4      4             4
Skating   Bronze     3     3           3    3      3             3
          Gold       4     4           4    4      4             4
          Silver     4     4           4    4      4             4
Skiing    Bronze     5     5           5    5      5             5
          Gold       3     3           3    3      3             3
          Silver    10    10          10   10     10            10